*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
/* header */
.para{
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 12px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.left img{
    width: 70px;
}
#icon-nav{
    margin-top: 25px;
    margin-right:10px ;
}
.link{
    display: flex;
    gap: 40px;
}
.link a{
    text-decoration: none;
    color: black;
}
.link a:hover{
    text-decoration: underline;
    color: rgb(59, 141, 182);
}
#active{
    color: rgb(59, 141, 182);
    text-decoration: underline;
} 
/* main */
/* .head-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-image: url(../photo/contact2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.head-contact h1{
    font-size: 45px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(73, 132, 192);
} */
.left-contact{
    /* width: 30%; */
    /* border: 1px solid rgb(45, 125, 141); */
    /* height: 200px; */
    /* margin: 32px; */
    border-radius: 12px;
    padding: 24px ;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.left-contact img{
    width: 80px;
}
.icon-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid  rgb(73, 132, 192);
}
.contain-main{
    display: flex;
    justify-content:space-around;
}
/* .contain-logo img{
    width: 400px;
} */
.contact-contant{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(237, 239, 240);
    width: 250px;
    height: 150px;
    gap: 8px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(64, 61, 61, 0.2);
    background-color: rgba(255, 255, 255, 0.951);

}
.contact-contant p{
    text-align: center;
}
.contact-contant a{
    text-decoration: none;
}
.info-contact{
    display: flex;
    justify-content: space-between;
    margin-top:25px;    
}
.info-contact1{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
#form{
    height: 38px;
    width: 230px;
    margin-top: 24px;
}
.form-contact{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    gap: 20px;
}
.message{
    margin-top: 20px;
    width: 485px;
    height: 130px;
}

.btn-contact button{
    padding: 8px 25px;
    border-radius: 6px;
    border: none;
    background-color: rgb(114, 156, 198);
    color: white;
    margin-top: 12px;
}
.right-contact{
    margin: 25px;
    border: 1px solid rgb(61, 153, 172);
    border-radius: 12px;
    padding: 20px ;
}
.right-contact img{
    width: 100px;
}
input{
    outline: none;
    padding-left: 12px;
}
main{
    /* height: 112vh; */
    /* background-image: url(../photo/bg-contact.jpg); */
    background-color: #bee9f7fa;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-contact{
    display: flex;
    justify-content:space-around;
    /* margin: 24px; */
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    gap: 5px;
}

.box-main img{
    width: 80px;
}
.box-main h3{
    color: gray;
}
textarea {
    outline: none;
    padding: 12px;
}
section{
    margin-top: 20px;
}
.text-contactpage{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.text-h1 {
    font-size: 30px;
    margin-left: 37%;       
    color: #00a0d6;              
    font-weight: bold;          
    display: inline-block;       
    border-bottom: 2px solid #00a0d6;
    /* padding-bottom: 5px;          */
    padding: 12px;
}
.support{
    margin-top: 50px;
    border: 1px solid lightskyblue;
    /* padding: 100px; */
    border-radius: 20px;
    margin: 24px;
}
.text-support{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
#image-footer{
    width: 32px;
} 
.icon-shop{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 24px;
}
.box-contact{
    width: 100%;
    height: 300px;
    /* background-color: #aad9e9; */
    /* border: 1px solid black; */
    margin-top: 10px;
}
#im3{
    width: 130px;
}
/* footer */
image-footer{
    width: 32px;
} 
.icon-shop{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
}
.text-footer{
    padding: 50px;
    display: flex;
    justify-content: space-between;

}
.text{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 35px;
    border-radius: 12px;
    background: white;

}
.text-footershop {
    width: 100%;
    background-color: rgb(203, 226, 243); 
    margin-top: 32px;
}
.footer{
    display: flex;
    gap: 20px;
    padding: 50px 50px;
    height: 30vh;
}
.footer .last-left {
    flex: 1;
    text-align: center;
}
.footer .last-left p{
    margin-top: 12px;
}
.footer .last-center {
    text-align: center;
    flex: 1;
}
.footer .right {
    flex: 1;
}
.footer .right h3{
    text-align: center;
}
.quick{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 12px;
}
.quick a{
    color: black;
}
.info{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 12px;
    margin-left: 140px;
}
.icon-foot{
    display: flex;
    gap: 10px;
}
.text-support{
    padding: 30px;
}





